.main_container {
  width: 100vw;
  border: 3px solid green;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  margin: 0 auto;
}
.logo {
  border: 2px solid pink;
  height: 390px;
}

.nav {
  display: flex;
  justify-content: center;
  border: 2px solid goldenrod;
  height: 105px;
  width: 100%;
}
.inner_nav {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.home_container {
  border: 2px solid blue;
  width: 1000px;
}
ul {
  list-style-type: none;
}
