body {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  width: 100%;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .main_div {
    font-size: 0.8rem;
  }
}
.cta {
  max-width: 1000px;
}
/* @media (max-width: 500px) {
  max
} */
.home_container {
  width: 100%;
  display: flex;
  background: url('./images/about_hero\ \(1\).jpg');
  /* border: 2px solid blueviolet; */
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.grid_container {
  margin-top: 50px;
  padding: 50px;
  background-color: white;
  display: flex;
  flex-flow: wrap;
  width: 1000px;
  border: 2px solid brown;
}
@media (max-width: 1150px) {
  .grid_container {
    width: 720px;
    padding: 0;
  }
}
@media (max-width: 800px) {
  .grid_container {
    width: 490px;
    padding: 0;
  }
}
@media (max-width: 505px) {
  .grid_container {
    padding: 0;
    width: 300px;
  }
}
.grid {
  height: 13.8rem;
  /* margin: 10px; */
  /* width: 100%; */
}
.boxes {
  /* display: block; */
  width: 300px;
  height: 220px;
  background: #fe4;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 1.5%;
  cursor: pointer;
}
@media (max-width: 800px) {
  .boxes {
    width: 220px;
  }
}
@media (max-width: 500px) {
  .boxes {
    width: 300px;
  }
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #3882ed;
}
.circle:hover {
  background-color: #1a4680;
}

.home_cta {
  display: block;
  background-color: white;
  width: 100%;
  padding: 80px 0 80px 0;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 15px;
  margin-top: 160px;
  word-wrap: break-word;
}

.link {
  font-size: 2rem;
  letter-spacing: 5px;
  align-self: center;
  color: black;
}
.link:hover {
  color: #51b29f;
}
@media (max-width: 500px) {
  .link {
    text-align: center;
  }
  .home_cta {
    font-size: 3rem;
    letter-spacing: 1px;
    padding: 80px 0px;
  }
}
.logo {
  height: 380px;
}
@media (max-width: 500px) {
  .logo {
    width: 100%;
    height: auto;
  }
}
.pimg1 {
  /* border: 2px solid hotpink; */
  width: 100%;
  height: 550px;
  background-image: url('./images/home_hero\ \(1\).jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pimg2 {
  /* border: 2px solid hotpink; */
  width: 100%;
  height: 550px;
  background-image: url('./images/home_hero\ \(1\).jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pimg3 {
  /* border: 2px solid hotpink; */
  width: 100%;
  height: 550px;
  background-image: url('images/catering_hero\ \(1\).jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pimg4 {
  /* border: 2px solid hotpink; */
  width: 100%;
  height: 550px;
  background-image: url('images/about_hero\ \(1\).jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pimg5 {
  /* border: 2px solid hotpink; */
  width: 100%;
  height: 550px;
  background-image: url('images/contact_hero\ \(1\).jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  /* border: 2px solid goldenrod; */
  height: 105px;
  width: 100%;
}
.inner_nav {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .nav {
    display: none;
  }
  .inner_nav {
    display: none;
  }
}
.inner_nav a {
  padding-bottom: 10px;
}
.inner_nav h2 > a {
  text-decoration: none;
  color: black;
  z-index: 1;
}
.inner_nav h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.footer .nav .inner_nav h2 > a:before {
  background: white;
}
.inner_nav h2 > a:hover:before,
h2 > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.headers {
  align-self: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 80px;
}

.headers::before {
  content: "* * ";
  font-wight: 400;
  letter-spacing: 3px;
  position: relative;
  top: 3px;
}

.headers::after {
  content: "* *";
  font-wight: 400;
  letter-spacing: 3px;
  position: relative;
  top: 3px;
}
@media (max-width: 500px) {
  .headers {
    /* font-size: 0.5rem; */
    text-align: center;
  }
  .headers::before {
    content: "";
  }
  .headers::after {
    content: "";
  }
}
/* =====Combination_plates======== */
.cta_container {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  background: white;
  width: 75%;
  padding: 2%;
}
.contact_container {
  display: flex;
  flex-direction: column;
}
.aligncenter {
  align-self: center;
}
.hidden {
  display: none;
}
.cta_container h4 {
  align-self: center;
  margin-bottom: 80px;
}
.none h3 {
  text-align: center;
}
.cta_container ul li {
  margin: 0 0 40px 0;
}
.cta_container ul p,
p,
span {
  color: #7e7e84;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.cta_container p {
  margin-bottom: 50px;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
@media (max-width: 500px) {
  form {
    width: 300px;
  }
}
.contact-pic {
  height: 400px;
}
textarea {
  resize: none;
  height: 150px;
  background-color: lightgray;
  padding: 7px 5px;
  margin-bottom: 20px;
}
button {
  padding: 15px 0;
}
input {
  padding: 7px 5px;
  height: 25px;
  background-color: lightgray;
  margin-bottom: 30px;
}
.content_container {
  display: flex;
}
.left {
  border: 2px solid red;
  display: flex;
}
.right {
  border: 2px solid blue;
  display: flex;
}
button {
  border: 2px solid black;
  background-color: black;
  color: white;
}
button:hover {
  cursor: pointer;
}
.footer {
  background-color: #292929;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .nav .inner_nav a {
  color: white;
}

footer {
  color: #6f6f6f;
}
.map {
  height: 500px;
}
.info {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.info p {
  margin-bottom: 10px;
}
